  <!--
AVAILIBLE VARIABLES PASSED IN FROM FLASK:
{{ merchantName }}
{{ charityName }}
{{ costOfCoupon }}
{{ dealTitle }}
{{ description }}
{{ merchantPictureURL }}
{{ charityPictureURL }}
{{ charityDescription }}
{{ merchantDescription }}
{{ charityURL }}
-->
  
  <!DOCTYPE html>
  <html>
    <head>
	  <title>{{ pageTitle }}</title>
	  <link rel='shortcut icon' type='image/x-icon' href="https://raw.githubusercontent.com/aqfan/DealsForGoodByC1/master/extension/popup/icon.png" />
	  <meta charset="UTF-8">
	  <script src="../static/scripts.js"></script>
	  
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

      <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>


  <!-- custom stylesheet -->
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename = 'css/website.css') }}">
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename = 'css/navbar.css') }}">

<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    </head>
	<body>
		

		
		
		

		<!-- Nav Bar-->
		<div class = "row flex-nowrap justify-content-between align-items-center" id ="navbar" style ="padding-right: 3vw;">
			<div class = "col-sm-1">
				<!-- link to home page -->
				<a href="/"><img src = "/static/images/C1Logo.png" width = "90" height ="46"></a></p>
			</div>
			<div class = "col-sm-7" id="title" style = "text-align: left;">Deals for Good</div>
			<div class = "col-sm-3" id = "search">
				<div class="row">
		        <div class="col-12">
		            <div class="input-group">
		                <input class="form-control border-secondary py-2" type="search" value="search">
		                <div class="input-group-append">
		                    <button class="btn btn-outline-secondary" type="button">
		                         <i class="material-icons" style="font-size:25px;color:lightgray; float: right;">search</i>
		                    </button>
		                </div>
		            </div>
		        </div>
		    	</div>

			</div>
			<div class = "col-sm-1" id="signup" >
				<button class="btn btn-outline-secondary" type="button">
				<a href = "#">sign up</a>
				</button>
			</div>
		</div>



		<!-- purchase block -->

		<div class = "container" id = "deal" style = "margin-top: 10vh;">

			<div class = "row">

				<div class = "col-sm-6">
					<div class = "row">
						<img src ={{ merchantPictureURL }} width = "100" height ="100">
						<div class = "col-sm-6 " style = "text-align:left; margin-left: 4vw;">
							<h2>{{ merchantName }}</h2>
							<h5 style = "color : gray;">{{ merchantDescription }}</h5>
						</div>
					</div>
					<div style = "border-bottom: solid black; border-width: 1px; margin: 8vh;"></div>
					<div class = "row" style = "font-size: 7vh; margin-bottom: 5vh;">{{ dealTitle }}</div>
					<div style = "border-bottom: solid black; border-width: 1px; margin: 8vh;"></div>
					<div class = "row" style = "font-size: 2.5vh; margin-bottom: 2vh;">By donating to</div>
					<div class = "row" style = "font-size: 7vh;">
						<div style = "margin-right: 5vh;">
							<a href={{ charityURL }}><img src = {{ charityPictureURL }} style = "width:100%;height :auto;"></a>
						</div>
					</div>

				</div>
				<div class = "col-sm-6" style = "border-left: solid black; border-width: 1px;">
					<h1>Purchase</h1>
					
					<form id="accountIDform" style = "margin:2vw;">
					  <div class="form-group">
					    <label for="exampleInputEmail1">Capital One Username</label>
					    <input type="text" id="exampleInputEmail1" class="form-control" name="username">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Password</label>
					    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
					  </div>
					  <input type="submit" value="Purchase" class="btn btn-primary">
					  
					  <input type="hidden" name="merchant_id" value="57cf75cea73e494d8675ec4a">
					  <input type="hidden" name="purchase_date" value="2018-05-25">
					  <input type="hidden" name="amount" value="{{ costOfCoupon }}">
					  <input type="hidden" name="description" value="{{ dealTitle }}">
					</form>
				</div>

			</div>

		</div>

		
  <div class="page-footer" style = "margin: 5vh;">
      <div class = 'row'>
        <div class = "col-sm-12"><a href="https://www.linkedin.com/in/candia-gu-3a5b88b9?trk=nav_responsive_tab_profile">.</a></div>

      </div>
  </div>

		<!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
  </html>